
<h1>Listing Cryptos</h1>
<br/>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Cost per</th>
      <th>Amount owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptomoneys.each do |cryptomoney| %>
      <% if cryptomoney.user_id == current_user.id %>
         <% if cryptomoney.symbol %>
         <% cryptomoney.symbol = cryptomoney.symbol.upcase %> 
      <% end %>  
      <tr>
        <% for x in @lookup_cryptomoney %>
          <% if cryptomoney.symbol == x["symbol"] %>
            <td><%= link_to x["name"], cryptomoney %></td>
          <% end %>  
        <% end %> 

         <td><%= cryptomoney.symbol %></td>
         <td><%= cryptomoney.cost_per %></td>
         <td><%= cryptomoney.amount_owned %></td>
       </tr>
      <% end %>
    <% end %> 

  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_cryptomoney_path, class: "btn btn-default" %>
