<p>
  <strong>Symbol:</strong>
  <%= @cryptomoney.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @cryptomoney.user_id %>
</p>

<p>
  <strong>Cost per:</strong>
  <%= @cryptomoney.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @cryptomoney.amount_owned %>
</p>

<%= link_to 'Edit', edit_cryptomoney_path(@cryptomoney) %> |
<%= link_to 'Delete Crypto Currency', cryptomoney_path(@cryptomoney), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', cryptomoneys_path %> 

